/* chat */

.chat-container {
  z-index: 100;
  position: fixed;
  bottom: 60px;
  right: 20px;
  display: flex;
  flex-direction: column;

  min-width: 400px;
  min-height: 550px;


  background-color: white;
  /* padding: 20px; */

  margin-bottom: 20px;

  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.chat-banner {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #49B043;

  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  /* background: linear-gradient(90deg, #4e8c40 0%, #74bb64 25%); */
}

.sqiggle {
  margin-bottom: 10px;
}

.chat-title {
  color: black;
  font-size: 1.5rem;
}

.chats-container {
  min-height: 200px;
  max-height: 350px;
  max-width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  /* overflow: auto; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.enter-chat {
  align-items: self-end;
}

.arrow {
  height: 25px;
  margin-top: 2px;
}

.arrow-button {
  border: none;
  background-color: transparent;
  border-radius: 35px;
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;

  display: flex;
  justify-content: center;

  text-align: center;
  align-items: center;
}

.arrow-button:hover {
  background-color: #37a031;
}

.arrow-button:active {
  background-color: #33922e;
}


.chat-form {
  word-wrap: break-word;
  max-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: rgb(242, 242, 242);
  border-radius: 30px;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 12px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.chat-input {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: auto;
  height: 45px;
  resize: none;
  width: 80%;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  margin-top: 2px;
}

.chat-input:focus {
  border: none;
  outline: none;
}

.chat-input::placeholder {
  font-family: sans-serif;
}

.chat-submit {
  background-color: rgb(242, 242, 242);
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 45px;
  height: 40px;
  width: 40px;
}

.chat-submit:hover {
  background-color: rgb(221, 221, 221);
}

.chat-submit:active {
  background-color: rgb(196, 196, 196);
}

.chat-submit img {
  margin-top: 3px;
  height: 25px;
}

.message-loading {
  background-color: rgb(242, 242, 242);
  align-self: flex-start;
  padding: 10px;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.message {
  display: inline-block;
  max-width: 80%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  word-wrap: break-word;
  /* text-align: right; */
}

.message.user {
  background-color: rgb(242, 242, 242);
  align-self: flex-end;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.message.assistant {
  /* background-color: #f8d7da; */
  align-self: flex-start
}